html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 800;
}

body {
  font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--preto);
}
::-webkit-scrollbar-thumb {
  background: var(--laranja);
  border-radius: 10px;
}