:root {
  --preto: #121212;
  --cinza-escuro: #1e1e1e;
  --branco: #ffffff;
  --laranja: #ff6600; 
  --laranja-hover: #e65c00;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  font-family: 'Inter', sans-serif; 
  margin: 0;
}