.button {
    width: max-content;
    display: inline-block;

    text-transform: uppercase;
    text-align: center;
    padding: 0.35rem 0.85rem; /* Ajustado para acompanhar o texto menor */
    border-radius: 8px;
    border: none;

    /* Tamanho fixo e discreto para o texto */
    font-size: 1.3rem; 
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    
    color: var(--branco);
}

.button:hover {
    color: var(--laranja);
}