.filledButton {
    background-color: var(--laranja);
    border: 2px solid var(--laranja);
    color: var(--branco);
    
    font-size: 1.3rem;
    padding: 0.35rem 0.85rem;
    border-radius: 8px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Sombra suave para a base */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filledButton:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
    color: var(--branco);
    
    /* Move o botão PARA CIMA (valor negativo no Y) */
    transform: translateY(-1px); 
    
    /* Aumenta a sombra projetada para dar a impressão de que o botão subiu */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); 
}